@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .feature-card {
    animation: upDown 2s ease-in-out infinite;
  }

  .typewriter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
  }

  .animation-updown {
    @apply animate-updown;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideIn {
    animation: slideIn 0.3s ease-out;
  }
  